<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ATL - Modal </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link href="//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<v-app :data="data" >
    <!-- /.content-wrapper -->
    <v-box title="App配置界面">
        <v-form name="appName"  >
            <v-form-item span="9" label="首页url:">
                <input name="indexUrl" class="form-control"  v-model="indexUrl">
            </v-form-item>

            <v-form-item span="9" label="app名称:">
                <input name="appName" class="form-control" v-model="appName" >
            </v-form-item >

            <v-form-item span="9" label="用户姓名:">
                <input name="userName" class="form-control"  v-model="userName" >
            </v-form-item >

            <v-form-item span="9" label="用户图片url:">
                <input  name="userImgUrl"class="form-control" v-model="userImgUrl" >
            </v-form-item >

            <v-form-item span="9" label="用户详细信息url:">
                <input name="profileUrl" class="form-control" v-model="profileUrl" >
            </v-form-item >

            <v-form-item span="9" label="登出url:">
                <input name="signOutUrl" class="form-control" v-model="signOutUrl" >
            </v-form-item >

            <v-form-item span="9" label="logo名称:">
                <input name="logoName" class="form-control" v-model="logoName" >
            </v-form-item >

            <v-form-item span="9" label="logo名称简写:">
                <input  name="logoShortName" class="form-control" v-model="logoShortName" >
            </v-form-item >

            <v-col class="col-md-6" >
                <button type="button" @click="saveData" class="btn btn-primary" >
                      保存修改
                </button>
            </v-col>


        </v-form>
    </v-box>



<!--class="demo-color-box bg-success"-->
</v-app>
<script src="/lib/lib.js"></script>
<script src="//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>

<script>
    app.main({

        data : function () {
            return {
                    indexUrl:"",
                    appName:"",
                    userName:"",
                    userImgUrl:"",
                    profileUrl:"",
                    signOutUrl:"",
                    logoName:"",
                    logoShortName:"",
            }


        } ,
        methods : {
            saveData:function(){
                var a,i,inputFlag=1;

                a= document.forms[0];
                for (i=0;i<a.length;i++){
                    if(i===0 || i===3 || i===4 || i===5 ){
                        var index1=a[i]._value.lastIndexOf(".");
                        var index2=a[i]._value.length;
                        var suffix=a[i]._value.substring(index1+1,index2);//后缀名
                        if(suffix !== "html") {
                            inputFlag= 0;
                            break;
                        }
                    }
                }
                if(inputFlag){
                    axios.post("/update_app_data",this._data).then(function(response){
                        if(response.data.code) {
                            swal(response.data.msg, "you click！", "success")
                        }
                    })
                }
            }
    } ,
           mounted : function ($vm) {
                var self = $vm;
                axios.get("/get_app_data").then(function (response) {

                    self.indexUrl = response.data.indexUrl;
                    self.appName = response.data.appName;
                    self.userName = response.data.userName;
                    self.userImgUrl = response.data.userImgUrl;
                    self.profileUrl = response.data.profileUrl;
                    self.signOutUrl = response.data.signOutUrl;
                    self.logoName = response.data.logoName;
                    self.logoShortName = response.data.logoShortName;

            })
        }
    });



</script>
</body>
