<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>博客后台管理系统</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/editormd.css" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
</head>
<body>

    <v-app :data="data" id="app">
        <div class="btns">
            <button id="watch-btn">Watch</button>
            <button id="unwatch-btn">Unwatch</button>
            <button id="fullscreen-btn">全屏(按ESC退出)</button>
            <button id="show-toolbar-btn">展示工具栏</button>
            <button id="close-toolbar-btn">隐藏工具栏</button>
            <button id="toc-menu-btn">ToC Dropdown menu</button>
            <button id="toc-default-btn">ToC default</button>
        </div>
        <form method="post" id = "main" name="blogFrom" >

                <v-form-item span="7" label="博客标题" class="text-warning">
                    <input id="blogTitle" type="text" class="form-control" name="title" v-model="mdData['title']"/>
                </v-form-item >


                <v-form-item span="7" label="博客标签" class="text-warning">
                    <input id="blogTags" name="tags" type="text" class="form-control"  v-model="mdData['tags']" />
                </v-form-item >

            <div id="page-wrapper">
                <div class="row">
                    <div class="col-md-12 column">
                        <div id="test-editormd">
                            <textarea style="display:none;"></textarea>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /#page-wrapper -->


                <input type="hidden" name="mdText" id = "mdText" />
                <input type="hidden" name="article" id = "article"/>
                <div class="form-group">
                    <label for="blogSubmit" class="text-warning">submit</label>
                    <input id = "blogSubmit" type="submit" class="form-control jcala-input" @click="updateData" value="保持"/>
                </div>
        </form>



    </v-app>
 </body>
<script src="../js/jquery.min.js"></script>
<script src="../js/editormd.js"></script>
<script src="/lib/lib.js"></script>
<script>

    app.main({
        data : function () {
            return {
                mdData:Object,
                mdText:""

            }
        } ,
        methods : {
                updateData:function(){
                    var a=document.forms[0];
                    var b,c;
                    a.action="/admin/update.action";
                    a.method="post";
                    b = testEditor.getMarkdown();
                    c = testEditor.getHTML();
                    document.blogFrom.mdText.value=testEditor.getMarkdown();
                    document.blogFrom.article.value = testEditor.getHTML();
                    a.submit()
               }
        } ,
        mounted : function ($vm) {
            var self = $vm;
            axios.get("/admin/update_send_data").then(function (response) {
                self.mdData = response.data;
                self.mdText = response.data.mdText;
            }) .catch(function (error) {
                console.log(error);
            });

            var testEditor;
            $(function() {
                $.get('add.md', function(md){
                    md = self.mdText;
                    testEditor = editormd("test-editormd", {
                        width: "90%",
                        height: 640,
                        path : '../lib/',
                        theme : "default",
                        previewTheme : "default",
                        editorTheme : "default",
                        markdown : md,
                        codeFold : true,
                        saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
                        searchReplace : true,
                        htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了
                        emoji : true,
                        taskList : true,
                        tocm            : true,         // Using [TOCM]
                        tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                        imageUpload : true,
                        imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                        imageUploadURL : "/admin/upload",
                        onload : function() {
                            console.log('onload', this);
                        }
                    });
                });

                $("#watch-btn").bind('click', function() {
                    testEditor.watch();
                });

                $("#unwatch-btn").bind('click', function() {
                    testEditor.unwatch();
                });

                $("#preview-btn").bind('click', function() {
                    testEditor.previewing();
                });

                $("#fullscreen-btn").bind('click', function() {
                    testEditor.fullscreen();
                });

                $("#show-toolbar-btn").bind('click', function() {
                    testEditor.showToolbar();
                });

                $("#close-toolbar-btn").bind('click', function() {
                    testEditor.hideToolbar();
                });


            });

        }
    });







</script>



</html>