<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="shortcut icon" href="../icon/snow.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <title>博客后台管理系统</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/editormd.css" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <head>
        <meta charset="utf-8" />
        <title>Themes - Editor.md examples</title>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="../css/editormd.css" />
        <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />


</head>
<body>

    <v-app :data="data" id="app">
        <form method="post" id = "main" name="blogFrom" >

                <v-form-item span="7" label="博客标题" class="text-warning">
                    <input id="blogTitle" type="text" class="form-control" name="title" v-model="mdData['title']"/>
                </v-form-item >

            <v-form-item span="5" label="自定义访问路径" class="text-warning">
                <input  type="text" class="form-control" name="slug"  v-model="mdData['slug']" />
            </v-form-item>

            <v-form-item span="7" label="博客标签" class="text-warning">
                    <input id="blogTags" name="tags" type="text" class="form-control"  v-model="mdData['tags']" />
            </v-form-item >


            <v-form-item span="5" label="博客分类" class="text-warning">
                <v-select2  name="categories" v-bind:data="options"></v-select2>
            </v-form-item>


            <div id="page-wrapper">
                <div class="row">
                    <div class="col-md-12 column">
                        <div id="test-editormd">
                            <textarea style="display:none;"></textarea>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /#page-wrapper -->
                <input type="hidden" name="mdText" id = "mdText"  />
                <input type="hidden" name="article" id = "article"/>

                <div class="text-right">
                    <button id = "blogSubmit" type="button" class="btn btn-success"   @click="updateData"  >确认修改</button>
                </div>
        </form>
    </v-app>
 </body>
<script src="../js/editormd.js"></script>
<script>
    app.main({
        data : function () {
            return {
                mdData:Object,
                mdText:"",
                editor:Object,              //存放md的值
                options:Object,

            }
        } ,
        methods : {
                updateData:function(){
                    this._data.mdData.mdText = this.editor.getMarkdown();
                    this._data.mdData.md = this.editor.getMarkdown();
                    this._data.mdData.article = this.editor.getHTML();
                    this._data.mdData.categories = document.blogFrom.categories.value;
                    axios.post("/admin/update",this._data.mdData).then(function (response) {
                        $.alert(response.data);
                        var t=setTimeout(" window.location.href = \"/admin/bloglist.html\" ",1500);
                    }).catch(function (error){
                        console.log(error);
                    });

               }
        } ,
        mounted : function ($vm) {
            var self = $vm;
            var id = $.getQueryStr("id");

            axios.get("/admin/update_send_data/"+id).then(function (response) {
                self.mdData = response.data.context;
                self.mdText = response.data.context.mdText;
                self.options = response.data.options;
            }) .catch(function (error) {
                console.log(error);
            });



            var testEditor;
            $(function() {
                $.get('add.md', function(md){
                    testEditor = editormd("test-editormd", {
                        width: "90%",
                        height: 640,
                        path : '../lib/',
                        theme : "default",
                        previewTheme : "default",
                        editorTheme : "default",
                        markdown : self.mdText,
                        codeFold : true,
                        saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
                        searchReplace : true,
                        htmlDecode : "style,script,iframe|on*",   // 开启 HTML 标签解析，为了
                        emoji : true,
                        taskList : true,
                        tocm            : true,         // Using [TOCM]
                        tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                        dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                        imageUpload : true,
                        imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                        imageUploadURL : "/admin/upload",
                        onload : function() {
                            console.log('onload', this);
                        }
                    });
                    self.editor = testEditor;
                });


            });

        }
    });







</script>



</html>