<!DOCTYPE html>
<html>
<html xmlns:th=http://www.thymeleaf.org xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="ttp://www.thymeleaf.or "></html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

</head>

<body>
<v-app  id="app" :data="data" >
    <!-- /.content-wrapper -->

    <v-box>
        <v-select2 slot="body">
            <option>Test</option>
            <option>Test002</option>
        </v-select2>
    </v-box>
    <v-box >
        <!--<input name="name" v-model="query['name']"/>-->
        <!--<input name="name" v-model="query['age']"/>-->
        <!--<button @click="re_query"> 查询</button>-->
        <!--<v-table :ajax_url="ajax_url" :query="query" :send_req="send_req" :operations="operations" ></v-table>-->
    </v-box>

</v-app>
<script src="/lib/lib.js"></script>

<script>
    app.main({

        data : function () {
            return {
                query : {name : 'test'} ,
                ajax_url : '/get_table_data'

            }
        } ,
        methods : {
            re_query : function () {
                console.log('re_query')
                this.ajax_url = '/get_table_data?'  + 'name=' + this.query.name
            }
        } ,
        mounted : function () {}
    })
</script>
</body>
</html>